.clientes-container {
    padding: 1rem;
    background-color: #a2a19d;
}

.cuota-mensual-form {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cuota-mensual-form h2 {
    margin-top: 0;
}

.cuota-mensual-form input {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.cuota-mensual-form button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cuota-mensual-form button:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #fad100;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}
@media (max-width: 768px) {
    table {
        font-size: 12px;
    }
    .cuota-mensual-form {
        flex-direction: column;
    }
}